body {
  margin: 0;
  height: 100vh;
}
body .bloc_page {
  display: flex;
  min-height: 74.5%;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}
body .bloc_page--list {
  min-height: 84.5%;
  justify-content: flex-start;
}
body a {
  color: black;
  text-decoration: none;
}

#main_header {
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: -0.2rem;
}
@media all and (min-height: 1200px) {
  #main_header {
    font-size: 1.5rem;
  }
}

#menu_header h2 {
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  font-size: 1.2rem;
}

#main_footer {
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  font-weight: 500;
  font-size: 0.9rem;
}

.btn h2 {
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  font-weight: 400;
  font-size: 1.1rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #579c87;
  color: #fbcb4e;
  width: 185px;
  height: 32px;
  max-height: 100%;
  border-radius: 0.5rem;
}

.menu-1 {
  background-color: #fcdfdb;
}

.menu__titre-1 {
  font-family: "Devonshire";
  font-size: 0.9rem;
  font-weight: 400;
  background: -webkit-linear-gradient(-45deg, black 10%, black 60%, black 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media all and (min-width: 1023px) {
  .menu__titre-1 {
    font-size: 1.8rem;
  }
}

.menu__menu-1 {
  font-family: "Itim";
  font-size: 1.1rem;
  font-weight: 400;
  color: black;
  font-style: italic;
}
@media all and (min-width: 1023px) {
  .menu__menu-1 {
    font-size: 2.2rem;
  }
}

.menu-2 {
  background-color: #fff5fe;
}

.menu__titre-2 {
  font-family: "Kurale";
  font-size: 0.8rem;
  font-weight: 600;
  background: -webkit-linear-gradient(-45deg, #d17122 10%, #A6669A 60%, #6b30eb 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media all and (min-width: 1023px) {
  .menu__titre-2 {
    font-size: 1.6rem;
  }
}

.menu__menu-2 {
  font-family: "Abril Fatface";
  font-size: 1.1rem;
  font-weight: 400;
  color: #c17624;
  font-style: normal;
}
@media all and (min-width: 1023px) {
  .menu__menu-2 {
    font-size: 2.2rem;
  }
}

.menu-3 {
  background-color: #f3f3f3;
}

.menu__titre-3 {
  font-family: "Dancing Script";
  font-size: 1rem;
  font-weight: 500;
  background: -webkit-linear-gradient(-45deg, #1530b7 10%, #56a7e6 60%, #56a7e6 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media all and (min-width: 1023px) {
  .menu__titre-3 {
    font-size: 2rem;
  }
}

.menu__menu-3 {
  font-family: "Chilanka";
  font-size: 1.1rem;
  font-weight: 400;
  color: #56a7e6;
  font-style: normal;
}
@media all and (min-width: 1023px) {
  .menu__menu-3 {
    font-size: 2.2rem;
  }
}

.menu-4 {
  background-color: #fdfffc;
}

.menu__titre-4 {
  font-family: "Kaushan Script";
  font-size: 0.9rem;
  font-weight: 500;
  background: -webkit-linear-gradient(-45deg, #55924d 10%, #c8fa80 60%, #c8fa80 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media all and (min-width: 1023px) {
  .menu__titre-4 {
    font-size: 1.8rem;
  }
}

.menu__menu-4 {
  font-family: "Chilanka";
  font-size: 1.1rem;
  font-weight: 400;
  color: #77bf4f;
  font-style: normal;
}
@media all and (min-width: 1023px) {
  .menu__menu-4 {
    font-size: 2.2rem;
  }
}

.list-1 {
  background-color: #fcdfdb;
  box-shadow: 0.5px 0.5px 8px #d6d6d6;
  width: 18rem;
  margin: 0 auto 2rem auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.list-1__header {
  text-align: center;
}
.list-1__header h3 {
  margin: 0;
}
.list-1__ico {
  width: 2.5rem;
  height: 100%;
  margin-top: 1rem;
}
.list-1__step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.list-1__step img {
  width: 6rem;
  height: 100%;
}
.list-1__step h4 {
  margin: 0;
  text-align: center;
}
.list-1 article {
  margin-top: 1.5rem;
}
.list-1 article ul {
  list-style: none;
  padding: 0;
}
.list-1 article li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
  padding: 0;
}
.list-1 .item {
  margin: 0;
}
.list-1 .price {
  margin: 0;
  font-weight: bold;
}
.list-1__footer {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.list-1__footer img {
  width: 1.5rem;
}
@media all and (min-width: 1440px) {
  .list-1 {
    width: 50rem;
    height: 72rem;
  }
  .list-1__ico {
    width: 4rem;
  }
  .list-1 article {
    margin-top: 5rem;
  }
  .list-1__step img {
    width: 10rem;
  }
  .list-1 ul {
    margin-top: 2rem;
  }
  .list-1 li {
    margin-top: 1.3rem;
  }
  .list-1__footer img {
    transform: translateY(0.7rem);
  }
}
@media all and (min-width: 1024px) and (max-width: 1439px) {
  .list-1 {
    width: 50rem;
    height: 72rem;
  }
  .list-1__ico {
    width: 3rem;
  }
  .list-1 article {
    margin-top: 5rem;
  }
  .list-1__step img {
    width: 10rem;
  }
  .list-1 ul {
    margin-top: 2rem;
  }
  .list-1 li {
    margin-top: 1.3rem;
  }
  .list-1__footer img {
    transform: translateY(0.7rem);
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .list-1 {
    width: 31rem;
    height: 45rem;
  }
  .list-1 article {
    margin-top: 3rem;
  }
  .list-1__step img {
    width: 8rem;
  }
  .list-1__footer img {
    transform: translateY(0.5rem);
  }
}
@media all and (max-width: 360px) {
  .list-1 {
    width: 12rem;
  }
  .list-1__ico {
    width: 2rem;
  }
  .list-1 article li {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .list-1__step img {
    width: 4rem;
  }
}
@media all and (max-width: 260px) {
  .list-1 {
    width: 4rem;
  }
  .list-1__ico {
    width: 1.5rem;
  }
  .list-1__step img {
    width: 1rem;
  }
}

.list-1__header {
  font-family: "Devonshire";
  font-size: 1rem;
  background: -webkit-linear-gradient(-45deg, black 10%, black 60%, black 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.list-1__step h4 {
  font-family: "Kalam";
  font-size: 0.8rem;
}
.list-1 article ul {
  font-family: "Kalam";
  font-size: 0.6rem;
}
.list-1 article:nth-of-type(1) ul {
  color: black;
}
.list-1 article:nth-of-type(2) ul {
  color: black;
}
.list-1 article:nth-of-type(3) ul {
  color: black;
}
.list-1 article:nth-of-type(1) h4 {
  color: black;
}
.list-1 article:nth-of-type(2) h4 {
  color: black;
}
.list-1 article:nth-of-type(3) h4 {
  color: black;
}
.list-1__footer {
  font-family: "Devonshire";
  font-size: 1.1rem;
}
@media all and (min-width: 1440px) {
  .list-1__header {
    font-size: 2.2rem;
  }
  .list-1__step h4 {
    font-size: 1.4rem;
  }
  .list-1 article ul {
    font-size: 1.2rem;
  }
  .list-1__footer {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 1024px) and (max-width: 1439px) {
  .list-1__header {
    font-size: 2rem;
  }
  .list-1__step h4 {
    font-size: 1.4rem;
  }
  .list-1 article ul {
    font-size: 1.08rem;
  }
  .list-1__footer {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .list-1__header {
    font-size: 1.5rem;
  }
  .list-1__step h4 {
    font-size: 1.2rem;
  }
  .list-1 article ul {
    font-size: 0.84rem;
  }
  .list-1__footer {
    font-size: 1.4rem;
  }
}
@media all and (max-width: 360px) {
  .list-1__header {
    font-size: 0.8rem;
  }
}

.list-2 {
  background-color: #fff5fe;
  box-shadow: 0.5px 0.5px 8px #d6d6d6;
  width: 18rem;
  margin: 0 auto 2rem auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.list-2__header {
  text-align: center;
}
.list-2__header h3 {
  margin: 0;
}
.list-2__ico {
  width: 2.5rem;
  height: 100%;
  margin-top: 1rem;
}
.list-2__step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.list-2__step img {
  width: 6rem;
  height: 100%;
}
.list-2__step h4 {
  margin: 0;
  text-align: center;
}
.list-2 article {
  margin-top: 1.5rem;
}
.list-2 article ul {
  list-style: none;
  padding: 0;
}
.list-2 article li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
  padding: 0;
}
.list-2 .item {
  margin: 0;
}
.list-2 .price {
  margin: 0;
  font-weight: bold;
}
.list-2__footer {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.list-2__footer img {
  width: 1.5rem;
}
@media all and (min-width: 1440px) {
  .list-2 {
    width: 50rem;
    height: 72rem;
  }
  .list-2__ico {
    width: 4rem;
  }
  .list-2 article {
    margin-top: 5rem;
  }
  .list-2__step img {
    width: 10rem;
  }
  .list-2 ul {
    margin-top: 2rem;
  }
  .list-2 li {
    margin-top: 1.3rem;
  }
  .list-2__footer img {
    transform: translateY(0.7rem);
  }
}
@media all and (min-width: 1024px) and (max-width: 1439px) {
  .list-2 {
    width: 50rem;
    height: 72rem;
  }
  .list-2__ico {
    width: 3rem;
  }
  .list-2 article {
    margin-top: 5rem;
  }
  .list-2__step img {
    width: 10rem;
  }
  .list-2 ul {
    margin-top: 2rem;
  }
  .list-2 li {
    margin-top: 1.3rem;
  }
  .list-2__footer img {
    transform: translateY(0.7rem);
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .list-2 {
    width: 31rem;
    height: 45rem;
  }
  .list-2 article {
    margin-top: 3rem;
  }
  .list-2__step img {
    width: 8rem;
  }
  .list-2__footer img {
    transform: translateY(0.5rem);
  }
}
@media all and (max-width: 360px) {
  .list-2 {
    width: 12rem;
  }
  .list-2__ico {
    width: 2rem;
  }
  .list-2 article li {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .list-2__step img {
    width: 4rem;
  }
}
@media all and (max-width: 260px) {
  .list-2 {
    width: 4rem;
  }
  .list-2__ico {
    width: 1.5rem;
  }
  .list-2__step img {
    width: 1rem;
  }
}

.list-2__header {
  font-family: "Kurale";
  font-size: 1rem;
  background: -webkit-linear-gradient(-45deg, #d17122 10%, #A6669A 60%, #6b30eb 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.list-2__step h4 {
  font-family: "Crimson Text";
  font-size: 0.8rem;
}
.list-2 article ul {
  font-family: "Crimson Text";
  font-size: 0.8rem;
}
.list-2 article:nth-of-type(1) ul {
  color: #d17122;
}
.list-2 article:nth-of-type(2) ul {
  color: #A6669A;
}
.list-2 article:nth-of-type(3) ul {
  color: #6b30eb;
}
.list-2 article:nth-of-type(1) h4 {
  color: #d17122;
}
.list-2 article:nth-of-type(2) h4 {
  color: #A6669A;
}
.list-2 article:nth-of-type(3) h4 {
  color: #6b30eb;
}
.list-2__footer {
  font-family: "Kurale";
  font-size: 1.1rem;
}
@media all and (min-width: 1440px) {
  .list-2__header {
    font-size: 2.2rem;
  }
  .list-2__step h4 {
    font-size: 1.4rem;
  }
  .list-2 article ul {
    font-size: 1.6rem;
  }
  .list-2__footer {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 1024px) and (max-width: 1439px) {
  .list-2__header {
    font-size: 2rem;
  }
  .list-2__step h4 {
    font-size: 1.4rem;
  }
  .list-2 article ul {
    font-size: 1.44rem;
  }
  .list-2__footer {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .list-2__header {
    font-size: 1.5rem;
  }
  .list-2__step h4 {
    font-size: 1.2rem;
  }
  .list-2 article ul {
    font-size: 1.12rem;
  }
  .list-2__footer {
    font-size: 1.4rem;
  }
}
@media all and (max-width: 360px) {
  .list-2__header {
    font-size: 0.8rem;
  }
}

.list-3 {
  background-color: #f3f3f3;
  box-shadow: 0.5px 0.5px 8px #d6d6d6;
  width: 18rem;
  margin: 0 auto 2rem auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.list-3__header {
  text-align: center;
}
.list-3__header h3 {
  margin: 0;
}
.list-3__ico {
  width: 2.5rem;
  height: 100%;
  margin-top: 1rem;
}
.list-3__step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.list-3__step img {
  width: 6rem;
  height: 100%;
}
.list-3__step h4 {
  margin: 0;
  text-align: center;
}
.list-3 article {
  margin-top: 1.5rem;
}
.list-3 article ul {
  list-style: none;
  padding: 0;
}
.list-3 article li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
  padding: 0;
}
.list-3 .item {
  margin: 0;
}
.list-3 .price {
  margin: 0;
  font-weight: bold;
}
.list-3__footer {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.list-3__footer img {
  width: 1.5rem;
}
@media all and (min-width: 1440px) {
  .list-3 {
    width: 50rem;
    height: 72rem;
  }
  .list-3__ico {
    width: 4rem;
  }
  .list-3 article {
    margin-top: 5rem;
  }
  .list-3__step img {
    width: 10rem;
  }
  .list-3 ul {
    margin-top: 2rem;
  }
  .list-3 li {
    margin-top: 1.3rem;
  }
  .list-3__footer img {
    transform: translateY(0.7rem);
  }
}
@media all and (min-width: 1024px) and (max-width: 1439px) {
  .list-3 {
    width: 50rem;
    height: 72rem;
  }
  .list-3__ico {
    width: 3rem;
  }
  .list-3 article {
    margin-top: 5rem;
  }
  .list-3__step img {
    width: 10rem;
  }
  .list-3 ul {
    margin-top: 2rem;
  }
  .list-3 li {
    margin-top: 1.3rem;
  }
  .list-3__footer img {
    transform: translateY(0.7rem);
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .list-3 {
    width: 31rem;
    height: 45rem;
  }
  .list-3 article {
    margin-top: 3rem;
  }
  .list-3__step img {
    width: 8rem;
  }
  .list-3__footer img {
    transform: translateY(0.5rem);
  }
}
@media all and (max-width: 360px) {
  .list-3 {
    width: 12rem;
  }
  .list-3__ico {
    width: 2rem;
  }
  .list-3 article li {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .list-3__step img {
    width: 4rem;
  }
}
@media all and (max-width: 260px) {
  .list-3 {
    width: 4rem;
  }
  .list-3__ico {
    width: 1.5rem;
  }
  .list-3__step img {
    width: 1rem;
  }
}

.list-3__header {
  font-family: "Dancing Script";
  font-size: 1rem;
  background: -webkit-linear-gradient(-45deg, #1530b7 10%, #56a7e6 60%, #56a7e6 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.list-3__step h4 {
  font-family: "Caveat";
  font-size: 0.8rem;
}
.list-3 article ul {
  font-family: "Caveat";
  font-size: 0.8rem;
}
.list-3__footer {
  font-family: "Dancing Script";
  font-size: 1.1rem;
}
@media all and (min-width: 1440px) {
  .list-3__header {
    font-size: 2.2rem;
  }
  .list-3__step h4 {
    font-size: 1.4rem;
  }
  .list-3 article ul {
    font-size: 1.6rem;
  }
  .list-3__footer {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 1024px) and (max-width: 1439px) {
  .list-3__header {
    font-size: 2rem;
  }
  .list-3__step h4 {
    font-size: 1.4rem;
  }
  .list-3 article ul {
    font-size: 1.44rem;
  }
  .list-3__footer {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .list-3__header {
    font-size: 1.5rem;
  }
  .list-3__step h4 {
    font-size: 1.2rem;
  }
  .list-3 article ul {
    font-size: 1.12rem;
  }
  .list-3__footer {
    font-size: 1.4rem;
  }
}
@media all and (max-width: 360px) {
  .list-3__header {
    font-size: 0.8rem;
  }
}

.list-4 {
  background-color: #fdfffc;
  box-shadow: 0.5px 0.5px 8px #d6d6d6;
  width: 18rem;
  margin: 0 auto 2rem auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.list-4__header {
  text-align: center;
}
.list-4__header h3 {
  margin: 0;
}
.list-4__ico {
  width: 2.5rem;
  height: 100%;
  margin-top: 1rem;
}
.list-4__step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.list-4__step img {
  width: 6rem;
  height: 100%;
}
.list-4__step h4 {
  margin: 0;
  text-align: center;
}
.list-4 article {
  margin-top: 1.5rem;
}
.list-4 article ul {
  list-style: none;
  padding: 0;
}
.list-4 article li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
  padding: 0;
}
.list-4 .item {
  margin: 0;
}
.list-4 .price {
  margin: 0;
  font-weight: bold;
}
.list-4__footer {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.list-4__footer img {
  width: 1.5rem;
}
@media all and (min-width: 1440px) {
  .list-4 {
    width: 50rem;
    height: 72rem;
  }
  .list-4__ico {
    width: 4rem;
  }
  .list-4 article {
    margin-top: 5rem;
  }
  .list-4__step img {
    width: 10rem;
  }
  .list-4 ul {
    margin-top: 2rem;
  }
  .list-4 li {
    margin-top: 1.3rem;
  }
  .list-4__footer img {
    transform: translateY(0.7rem);
  }
}
@media all and (min-width: 1024px) and (max-width: 1439px) {
  .list-4 {
    width: 50rem;
    height: 72rem;
  }
  .list-4__ico {
    width: 3rem;
  }
  .list-4 article {
    margin-top: 5rem;
  }
  .list-4__step img {
    width: 10rem;
  }
  .list-4 ul {
    margin-top: 2rem;
  }
  .list-4 li {
    margin-top: 1.3rem;
  }
  .list-4__footer img {
    transform: translateY(0.7rem);
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .list-4 {
    width: 31rem;
    height: 45rem;
  }
  .list-4 article {
    margin-top: 3rem;
  }
  .list-4__step img {
    width: 8rem;
  }
  .list-4__footer img {
    transform: translateY(0.5rem);
  }
}
@media all and (max-width: 360px) {
  .list-4 {
    width: 12rem;
  }
  .list-4__ico {
    width: 2rem;
  }
  .list-4 article li {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .list-4__step img {
    width: 4rem;
  }
}
@media all and (max-width: 260px) {
  .list-4 {
    width: 4rem;
  }
  .list-4__ico {
    width: 1.5rem;
  }
  .list-4__step img {
    width: 1rem;
  }
}

.list-4__header {
  font-family: "Kaushan Script";
  font-size: 1rem;
  background: -webkit-linear-gradient(-45deg, #55924d 10%, #c8fa80 60%, #c8fa80 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.list-4__step h4 {
  font-family: "Caveat";
  font-size: 0.8rem;
}
.list-4 article ul {
  font-family: "Caveat";
  font-size: 0.8rem;
}
.list-4__footer {
  font-family: "Kaushan Script";
  font-size: 1.1rem;
}
@media all and (min-width: 1440px) {
  .list-4__header {
    font-size: 2.2rem;
  }
  .list-4__step h4 {
    font-size: 1.4rem;
  }
  .list-4 article ul {
    font-size: 1.6rem;
  }
  .list-4__footer {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 1024px) and (max-width: 1439px) {
  .list-4__header {
    font-size: 2rem;
  }
  .list-4__step h4 {
    font-size: 1.4rem;
  }
  .list-4 article ul {
    font-size: 1.44rem;
  }
  .list-4__footer {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .list-4__header {
    font-size: 1.5rem;
  }
  .list-4__step h4 {
    font-size: 1.2rem;
  }
  .list-4 article ul {
    font-size: 1.12rem;
  }
  .list-4__footer {
    font-size: 1.4rem;
  }
}
@media all and (max-width: 360px) {
  .list-4__header {
    font-size: 0.8rem;
  }
}

#main_header {
  display: flex;
  overflow: hidden;
  background-color: #579c87;
  color: #fbcb4e;
  min-height: 10%;
}
#main_header h1 {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
}
#main_header a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fbcb4e;
}

#main_footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #579c87;
  color: #fbcb4e;
  min-height: 5.5%;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  position: sticky;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
}
#main_footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.legals a,
.contact a {
  color: #fbcb4e;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

@media all and (max-width: 200px) {
  #main_footer {
    flex-direction: column;
  }

  .contact {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .legals {
    margin-top: 1rem;
  }
}
#section_menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-left: 3vh;
  padding-right: 3vh;
}

#soon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.titre_menu {
  display: none;
}

.menu {
  height: 31vh;
  width: 22vh;
  min-height: 8rem;
  min-width: 6rem;
  margin: 1.5vh 1vh 1.5vh 1vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: stretch;
  box-shadow: 0.5px 0.5px 8px #d6d6d6;
}
@media all and (min-width: 1023px) {
  .menu {
    height: 50vh;
    width: 35vh;
  }
}
.menu a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu__ico {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}
.menu__ico img {
  width: 1.5rem;
  height: 100%;
}
@media all and (min-width: 1023px) {
  .menu__ico img {
    width: 4rem;
  }
}

.menu__titre {
  margin-top: 0;
}

.menu__menu {
  margin-top: 0;
}

#menu_header h2 {
  text-align: center;
  margin: 2rem auto 0.5rem auto;
  width: 75%;
}

.list__header h3 {
  font-weight: normal;
}

/*# sourceMappingURL=style.css.map */
