@import "./utils/variables";
//variables
@import"./utils/animations";
//functions
@import "./utils/mixinsmenu";
@import "./utils/mixinslist";
//mixins
@import "./base/base";
@import "./base/typography";
@import "./components/btn";
@import "./components/menu";
@import "./components/list";
//blocs BEM indépendants
@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/sectionp";
//blocs BEM réutilisables
@import "./pages/acceuil";
@import "./pages/restaurant";
@import "./pages/legals";
