@import "./utils/variables";
//variables
//functions
@import "./utils/mixinsmenu";
@import "./utils/mixinslist";
//mixins
@import "./base/base";
@import "./base/typography";
@import "./base/mixinstypography";
@import "./components/btn";
@import "./components/menu";
@import "./components/list";
//blocs BEM indépendants
@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/sectionp";
//blocs BEM réutilisables
@import "./pages/acceuil";
@import "./pages/restaurant";
@import "./pages/legals";
@import "./utils/animations"; //On place les Keyframes en dernier pour des raisons d'optimisation
