aside{
    display: flex;
    justify-content: center;
    align-items: center;
}

.soon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $prim-color;
    color: $secon-color;
    width: 26vh;
    height: 5vh;
    border-radius: 0.5rem;
}