.btn { // Correspond à l'élément contenu dans la div "soon", est appelé "btn" car pourrait être réutilisé à cette fin
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $prim-color;
  color: $secon-color;
  width: 185px;
  height: 32px;
  max-height: 100%;
  border-radius: 0.5rem;
}
