.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: $prim-color;
  color: $secon-color;
  width: 185px;
  height: 35px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-radius: 0.5rem;
}
