.btn {
  // Correspond à l'élément contenu dans la div "soon", est appelé "btn" car pourrait être réutilisé à cette fin
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $prim-color;
  color: $secon-color;
  width: 185px;
  height: 32px;
  max-height: 100%;
  border-radius: 0.5rem;
  &--anim {
    position: relative;
    .dot {
      display: none;
      position: absolute;
      bottom: -65%;
      left: map-get($map: $place-dot, $key: 1);
      animation: points1 $anim-dur both, points2 $anim-dur * 2 infinite;
      @for $i from 1 through $num-dot {
        &--#{$i} {
          animation-delay: $anim-delay * $i;
          left: map-get($map: $place-dot, $key: $i);
        }
      }
    }
    &:hover {
      cursor: pointer;
      h2 {
        animation: prochainement 1000ms forwards;
      }
      div {
        display: block;
      }
    }
  }
}
