@include list(1, 1); //COULEUR DU BACKGROUND // #N° du menu , #backgroundcolor //
@include list-font(
  //POLICE DE LA CARTE
    1,
  //N° du menu
    1,
  //N° de la police du header & footer
    1,
  //N° de la police des plats
    1rem,
  //Taille de la police du titre
    0.6rem,
  //Taille de la police des plats
    1,
  //1ère couleur de la police du titre
    1,
  //2ème couleur de la police du titre
    1,
  //3ème couleur de la police du titre
    1,
  //1ère couleur de la police des plats
    1,
  //2ème couleur de la police des plats
    1,
  //3ème couleur de la police des plats
    1,
  //1ère couleur de la barre animée soulignant la catégorie de plats
    1,
  //2ème couleur de la barre animée soulignant la catégorie de plats
    1 //3ème couleur de la barre animée soulignant la catégorie de plats
);

@include list(2, 2);
@include list-font(2, 2, 2, 1rem, 0.8rem, 2, 2, 2, 2, 2, 2, 2, 2, 2);

@include list(3, 3);
@include list-font(3, 3, 3, 1rem, 0.8rem, 3, 3, 3, black, black, black, 3, 3, 3);

@include list(4, 4);
@include list-font(4, 4, 4, 1rem, 0.8rem, 4, 4, 4, black, black, black, 4, 4, 4);
