.list {
  background-color: map-get($map: $bg-menu, $key: 1);
  box-shadow: 0.5px 0.5px 8px rgb(214, 214, 214);
  width: 18rem;
  margin: 0 auto 2rem auto;
  padding-left: 2rem;
  padding-right: 2rem;
  &__header {
    text-align: center;
    h3 {
      margin: 0;
    }
  }
  &__ico {
    width: 2.5rem;
    height: 100%;
    margin-top: 1rem;
  }
}

.bloc_titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  img {
    width: 6rem;
    height: 100%;
  }
  h4 {
    margin: 0;
    text-align: center;
  }
}

article {
  margin-top: 1.5rem;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4rem;
    padding: 0;
  }
}

.item {
  margin: 0;
}

.price {
  margin: 0;
  font-weight: bold;
}

.list_footer {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  img {
    width: 1.5rem;
  }
}

@media all and (min-width: 1440px) {
  .list {
    width: 50rem;
    height: 72rem;
  }
  article{
    margin-top: 5rem;
  }
  .bloc_titre {
    img {
      width: 10rem;
    }
  }
  ul{
    margin-top: 2rem;
  }
  li{
    margin-top: 2rem;
  }
  .list_footer{
    img{
      transform:translateY(0.7rem);
    }
  }
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
  .list {
    width: 50rem;
    height: 72rem;
  }
  article{
    margin-top: 5rem;
  }
  .bloc_titre {
    img {
      width: 10rem;
    }
  }
  ul{
    margin-top: 2rem;
  }
  li{
    margin-top: 2rem;
  }
  .list_footer{
    img{
      transform:translateY(0.7rem);
    }
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .list {
    width: 31rem;
    height: 45rem;
  }
  article{
    margin-top: 3rem;
  }
  .bloc_titre {
    img {
      width: 8rem;
    }
  }
  .list_footer{
    img{
      transform:translateY(0.5rem);
    }
  }
}

@media all and (max-width: 360px) {
  .list {
    width: 12rem;
  }
  article {
    li {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  .bloc_titre {
    img {
      width: 4rem;
    }
  }
}

@media all and (max-width: 260px) {
  .list {
    width: 4rem;
  }
  .bloc_titre {
    img {
      width: 1rem;
    }
  }
}
