body {
  margin: 0;
  height: 100vh;
  .bloc_page {
    display: flex;
    min-height: 74.5%;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    &--list{
      min-height: 84.5%;
      justify-content: flex-start
    }
  }
  a {
    color: black;
    text-decoration: none;
  }

}
