a{
    display: block;
    color:black;
    text-decoration: none;
}
//le site étant avant tout destiné à un usage mobile / tactile, tous les liens seront des blocs plus facile à atteindre d'un doight