body {
  margin: 0;
  height: 100vh;
  #bloc_page {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  a {
    color: black;
    text-decoration: none;
  }

}
