header {
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: -0.2rem;
}

aside {
  font-family: 'Montserrat', sans-serif, Arial, Helvetica;
  font-weight: 500;
  font-size: 1.1rem;
}
