header {
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: -0.2rem;
}

.btn {
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  font-weight: 400;
  font-size: 1.1rem;
}

footer {
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  font-weight: 500;
  font-size: 0.9rem;
}
