.titre_menu {
  display: none;
}

.menu {
  height: 31vh;
  width: 22vh;
  @media all and (min-width: 1023px) {
    height: 50vh;
    width: 35vh;
  }
  min-height: 8rem;
  min-width: 6rem;
  margin: 1.5vh 1vh 1.5vh 1vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: stretch;
  box-shadow: 0.5px 0.5px 8px rgb(214, 214, 214);
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.menu__ico {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  img {
    width: 1.5rem;
    height: 100%;
    @media all and (min-width: 1023px) {
      width: 4rem;
    }
  }
}

.menu__titre {
  margin-top: 0;
}

.menu__menu {
  margin-top: 0;
}
