@mixin menu($num-menu, $num-bg-menu) {
  .menu {
    &-#{$num-menu} {
      background-color: map-get($map: $bg-menu, $key: $num-bg-menu);
    }
  }
}

@mixin menu__titre($num-menu, $num-font, $font-size, $font-weight, $color1, $color2, $color3) {
  .menu__titre {
    &-#{$num-menu} {
      font-family: map-get($map: $font-menu__titre, $key: $num-font);
      font-size: $font-size;
      @media all and (min-width: 1023px) {
        font-size: $font-size * 1.8;
      }
      @media all and (min-height: 1000px) {
        font-size: $font-size * 1.5;
      }
      @media all and (min-width:1017px) and (min-height:1000px){
        font-size: $font-size * 2.5;
      }
      @media all and (min-width:1017px) and (min-height:1200px){
        font-size: $font-size * 3;
      }
      font-weight: $font-weight;
      background: -webkit-linear-gradient(
        -45deg,
        map-get($map: $color1-menu__titre, $key: $color1) 10%,
        map-get($map: $color2-menu__titre, $key: $color2) 60%,
        map-get($map: $color3-menu__titre, $key: $color3) 80%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

@mixin menu__menu($num-menu, $fontfam-menu, $font-size, $font-weight, $color, $font-style) {
  .menu__menu {
    &-#{$num-menu} {
      font-family: $fontfam-menu;
      font-size: $font-size;
      @media all and (min-width: 1023px) {
        font-size: $font-size * 1.8;
      }
      @media all and (min-height: 1000px) {
        font-size: $font-size * 1.5;
      }
      @media all and (min-width:1017px) and (min-height:1000px){
        font-size: $font-size * 2
      }
      @media all and (min-width:1017px) and (min-height:1200px){
        font-size: $font-size * 2.5;
      }
      font-weight: $font-weight;
      color: map-get($map: $color-menu__menu, $key: $color);
      font-style: $font-style;
    }
  }
}