//Design des menus
@mixin menu($num-menu, $bg-menu) {
  .menu {
    &-#{$num-menu} {
      height: 31vh;
      width: 22vh;
      margin: 3vh 1vh 1vh 1vh;
      text-align: center;
      display: flex;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      box-shadow: 0.5px 0.5px 8px rgb(214, 214, 214);
      background-color: $bg-menu;
    }
  }
}

@mixin menu__ico($num-menu) {
  .menu__ico {
    &-#{$num-menu} {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    img{
      width: 7vw;
      height: 7vw;
    }
    }
  }
}

@mixin menu__titre($num-menu, $fontfam-menu, $font-size, $font-weight, $color1, $color2) {
  .menu__titre {
    &-#{$num-menu} {
      margin-top: 0;
      font-family: $fontfam-menu;
      font-size: $font-size;
      font-weight: $font-weight;
      background: -webkit-linear-gradient(-45deg, $color1 20%, $color2);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

@mixin menu__menu($num-menu, $fontfam-menu, $font-size, $font-weight, $font-color, $font-style) {
  .menu__menu {
    &-#{$num-menu} {
      margin-top: 0;
      font-family: $fontfam-menu;
      font-size: $font-size;
      font-weight: $font-weight;
      color: $font-color;
      font-style: $font-style;
    }
  }
}