@mixin menu($num-menu, $num-bg-menu) {
  .menu {
    &-#{$num-menu} {
      background-color: map-get($map: $bg-menu, $key: $num-bg-menu);
    }
  }
}

@mixin menu__titre($num-menu, $color1, $color2, $color3) {
  .menu__titre {
    &-#{$num-menu} {
      background: -webkit-linear-gradient(
        -45deg,
        map-get($map: $color1-menu__titre, $key: $color1) 10%,
        map-get($map: $color2-menu__titre, $key: $color2) 60%,
        map-get($map: $color3-menu__titre, $key: $color3) 80%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

@mixin menu__menu($num-menu, $color) {
  .menu__menu {
    &-#{$num-menu} {
      color: map-get($map: $color-menu__menu, $key: $color);
    }
  }
}
