// Couleurs de base
$prim-color: #579c87;
$secon-color: #fbcb4e;

//Variables des menus
$num-menu: (1 2 3 4);
$bg-menu: (
  1: #fcdfdb,
  2: #fff5fe,
  3: #f3f3f3,
  4: #fdfffc
);
$font-menu__titre: (
  1: "Devonshire",
  2: "Kurale",
  3: "Dancing Script",
  4: "Kaushan Script"
);
$font-menu__menu: (
  1: "Itim",
  2: "Abril Fatface",
  3: "Chilanka",
  4: "Chilanka"
);
$color1-menu__titre: (
  1: black,
  2: #d17122,
  3: #1530b7,
  4: #55924d
);
$color2-menu__titre: (
  1: black,
  2: #a6669a,
  3: #56a7e6,
  4: #c8fa80
);
$color3-menu__titre: (
  1: black,
  2: #6b30eb,
  3: #56a7e6,
  4: #c8fa80
);
$color-menu__menu: (
  1: black,
  2: #c17624,
  3: #56a7e6,
  4: #77bf4f
);
$font-list: (
  1: "Kalam",
  2: "Crimson Text",
  3: "Caveat",
  4: "Caveat"
);

//Variables d'animation
$shake-intensity: 3%;
$num-dot: 3;
$place-dot: (
  1: 30%,
  2: 45%,
  3: 60%
);
$anim-dur: 900ms;
$anim-delay: $anim-dur/$num-dot;
