#main_footer { //footer présent sur toutes les pages
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: $prim-color;
  color: $secon-color;
  min-height: 5.5%;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  position: sticky;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.legals,
.contact {
  a {
    color: $secon-color;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }
}
@media all and (max-width: 200px) {
  #main_footer {
    flex-direction: column;
  }
  .contact {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .legals
  {
    margin-top: 1rem;
  }
}
