#main_footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: $prim-color;
  color: $secon-color;
  min-height: 5.5%;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  position: sticky;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.legals,
.contact {
  a {
    color: $secon-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
