#main_header {
  //Header présent sur toutes les pages
  display: flex;
  overflow: hidden;
  background-color: $prim-color;
  color: $secon-color;
  min-height: 10%;
  h1 {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    &:hover {
      color: #fff;
      text-shadow: 0 0 150px #fff, 0 0 60px #fff, 0 0 10px #fff;
    }
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: $secon-color;
  }
}
