#main_header {
  display: flex;
  overflow: hidden;
  background-color: $prim-color;
  color: $secon-color;
  min-height: 4.5rem;
  h1 {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: $secon-color;
  }
}
