#section_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1vh;
  margin-bottom: 0;
  padding-left: 3vh;
  padding-right: 3vh;
  border: solid 1px;
  .menu {
    height: 31vh;
    width: 22vh;
    border: solid 1px;
  }
}
