#section_menu { //Présentations des carte de l'accueil, élément du conteneur "center_page"
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-left: 3vh;
  padding-right: 3vh;
}

#soon { //conteneur du bouton "Prochainement de la page d'acceuil
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}
